button {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  text-shadow: white 4px 0 8px;
  padding: 2.5rem;
  font-size: 2.8rem;
  font-style: italic;
}

h2 {
  font-size: 2rem;
}

li {
  font-family: "Courier New", Courier, monospace;
  text-shadow: white 4px 0 9px;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#chngClrBtnText {
  margin-bottom: 1rem;
}

.body1 {
  font-size: 1.8rem;
  text-align: center;
  background: url("../img/pokrok_img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
}

.button1 {
  background: content-box radial-gradient(#dc143c, #87ceeb, orange, #000, green);
  width: 350px;
  height: 130px;
  clip-path: ellipse(155px 35px at 50% 40%);
}

.contentText {
  font-style: italic;
  text-shadow: 2px 2px 5px rgb(23, 247, 154);
}

.container1 {
  max-width: 100%;
}

.navbar {
  align-items: baseline;
}

.navbar-nav {
  width: 100%;
  align-items: center;
}

.result {
  height: 10rem;
  width: 50rem;
  margin: auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid green;
  font-size: 5rem;
  color: red;
}

.flags {
  display: inline;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.flag {
  margin: 10px 10px 10px 10px;
  display: inline-block;
  width: 300px;
  height: 150px;
}
body {
  background: url("../img/m.m_img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
}

h5 {
  background: content-box radial-gradient(#dc143c, #87ceeb, orange, #000, green);
  width: 350px;
  height: 130px;
  clip-path: ellipse(155px 35px at 50% 40%);
}
.let {
  font-size: 5rem;
}
