.body1 {
  font-size: 1.8rem;
  text-align: center;
  background: url("../img/pokrok_img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contentText1 {
  font-style: italic;
  text-shadow: 2px 2px 5px rgb(23, 247, 154);
}

.container1 {
  max-width: 100%;
}

.navbar1 {
  align-items: baseline;
}

button {
  width: 100%;
  height: 100%;
  display: block;
}

.result {
  height: 10rem;
  width: 50rem;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid green;
}

.button1 {
  margin-bottom: 50px;
  width: 350px;
  height: 130px;
  clip-path: ellipse(155px 35px at 50% 40%);
}

h1 {
  text-shadow: white 4px 0 8px;
  padding: 5rem;
  font-size: 2.8rem;
  font-style: italic;
}

h2 {
  box-shadow: -2em 0 2em white;
  background-position: 19rem;
  width: 250px;
  height: 250px;
  background-image: url("../img/bolehlav_img.jpg");
  margin: 90px 550px 10px;
  transform: translate(20px, 30px) rotate(125deg);
}

h3 {
  box-shadow: -2em 0 2em white;
  background-position: 39rem;
  width: 250px;
  height: 250px;
  background-image: url("../img/bolehlav_img.jpg");
  margin: 50px 150px 30px;
  transform: translate(20px, 30px) rotate(235deg);
}

h4 {
  box-shadow: -2em 0 2em white;
  background-position: 19rem;
  width: 250px;
  height: 250px;
  background-image: url("../img/bolehlav_img.jpg");
  margin: 9px 450px 10px;
  transform: translate(20px, 30px) rotate(125deg);
}

h5 {
  box-shadow: -2em 0 2em white;
  background-position: 19rem;
  width: 250px;
  height: 250px;
  background-image: url("../img/bolehlav_img.jpg");
  margin: 90px 650px 10px;
  transform: translate(20px, 30px) rotate(125deg);
}

li {
  font-family: "Courier New", Courier, monospace;
  text-shadow: white 4px 0 9px;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flags {
  display: inline;
}

.flag {
  margin: 10px 10px 10px 10px;
  display: inline-block;
  width: 300px;
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
}
